* {
  box-sizing: border-box;
  padding: 0;
}
html {
  background-color: #f6f5f3;
  height: 100%;
}
body {
  overflow-x: auto;
  background-color: #fff;
  max-width: 1350px;
  min-width: 300px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}
header {
  height: 60px;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
  font-size: 0;
}
header > * {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 670px) and (max-width: 1000px) {
  header {
    height: 100px;
  }
}
@media screen and (min-width: 1000px) {
  header {
    height: 100px;
  }
}
header > * {
  padding: 0 1vw;
}
.main::before,
footer::before {
  content: "";
  display: table;
  border: 2px solid #f6f5f3;
  border-collapse: collapse;
  width: 100%;
  vertical-align: middle;
}
.logo {
  order: 1;
  width: 40%;
  font-size: 25px;
}
.logo p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  color: cornflowerblue;
}
@media screen and (min-width: 670px) and (max-width: 1000px) {
  .logo {
    width: 35%;
    font-size: 35px;
  }
}
@media screen and (min-width: 1000px) {
  .logo {
    order: 1;
    width: 20%;
    font-size: 35px;
  }
}
.logo:hover {
  background-color: lightblue;
}
.search {
  width: 100%;
  order: 3;
  display: none;
}
.search input {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 45%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
  height: 40px;
  border: 1px solid cornflowerblue;
  background-color: #f6f5f3;
  font-size: large;
}
.search > div {
  font-size: 0;
  margin: 0;
  top: 50%;
  left: 89%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 8%;
  position: absolute;
  line-height: 40px;
  font-size: medium;
  color: #fff;
  background-color: cornflowerblue;
  text-align: center;
}
.search > div > * {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.search > div p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  border: 1px solid cornflowerblue;
}
@media screen and (min-width: 1000px) {
  .search {
    order: 2;
    width: 55%;
    display: inline-block;
  }
  .search > div {
    height: 40px;
  }
}
.authFiles {
  width: 45%;
  order: 2;
  float: right;
}
.authFiles .container {
  height: 100%;
  width: 100%;
  font-size: 0;
}
.authFiles .container > * {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.authFiles .container .avatar {
  width: 30%;
  padding-top: 1vw;
  padding-bottom: 1vw;
}
.authFiles .container .avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.authFiles .container .info {
  width: 70%;
}
.authFiles .container .info div {
  font-size: small;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  line-height: 200%;
}
@media screen and (max-width: 400px) {
  .authFiles {
    width: 60%;
  }
}
@media screen and (min-width: 670px) and (max-width: 1000px) {
  .authFiles {
    width: 35%;
  }
  .authFiles .container .info div {
    font-size: medium;
  }
}
@media screen and (min-width: 1000px) {
  .authFiles {
    order: 3;
    width: 25%;
  }
  .authFiles .container .info div {
    font-size: medium;
  }
}
footer {
  width: 100%;
  overflow: hidden;
}
.main {
  max-width: 1350px;
  min-height: 90vh;
  margin-bottom: -142px;
  float: left;
  font-size: 0;
  width: 100%;
}
.main * {
  font-size: medium;
}
@media screen and (min-width: 670px) and (max-width: 1000px) {
  .main {
    top: 100px;
  }
}
@media screen and (min-width: 1000px) {
  .main {
    top: 100px;
  }
}
.content {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  height: 100%;
}
@media screen and (min-width: 1160px) {
  .content {
    width: 80%;
    min-height: 75vh;
    border-right: 4px solid #f6f5f3;
  }
}
aside {
  vertical-align: top;
  width: 100%;
  display: inline-block;
  height: 100%;
}
@media screen and (min-width: 670px) and (max-width: 1000px) {
}
@media screen and (min-width: 1160px) {
  aside {
    width: 20%;
  }
}
.askBtn {
  width: 15%;
}
.askBtn div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 40px;
  width: 80%;
  color: #fff;
  background-color: cornflowerblue;
}
.askBtn div p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.main:after {
  content: "";
  display: block;
}
.footer,
.main:after {
  height: 142px;
}
.ask {
  width: 80%;
  color: #fff;
  background-color: cornflowerblue;
  height: 40px;
  margin: 30px auto;
  display: list-item;
  border: none;
}
.tags {
  display: none;
  text-align: center;
}
@media screen and (min-width: 670px) and (max-width: 1000px) {
  .tags {
    display: inline-block;
  }
  .tags span {
    margin: 10px;
    color: cornflowerblue;
  }
}
@media screen and (min-width: 1160px) {
  .tags {
    display: inline-block;
  }
  .tags a {
    margin: 10px;
    color: cornflowerblue;
    text-decoration: none;
  }
  .tags a:hover {
    text-decoration: underline;
  }
}
@media screen and (min-width: 1000px) {
  .tags {
    display: inline-block;
  }
  .tags a {
    margin: 10px;
    color: cornflowerblue;
    text-decoration: none;
  }
  .tags a:hover {
    text-decoration: underline;
  }
}
