@background-color: #f6f5f3;
@main-color: #fff;
@theme-color: cornflowerblue;
@standart-theme-border: 1px solid @theme-color;
@header_height: 60px;

.screenLarge_body(@rules){
    @media screen and (min-width: 1160px){
        @rules();
    }
}

.screenLarge(@rules){
    @media screen and (min-width: 1000px){
        @rules();
    }
}

.screenMedium(@rules){
    @media screen and (min-width: 670px) and (max-width: 1000px){
        @rules();
    }
}
.screenSmallest(@rules){
    @media screen and (max-width: 400px){
        @rules();
    }
}
* {
    box-sizing: border-box;
    padding: 0;
}
html {
    background-color: @background-color;
    //position: relative;
    height: 100%;
}
body {
    overflow-x: auto;
    background-color: @main-color;
    max-width: 1350px;
    min-width: 300px;
    min-height: 100%;
    margin: 0 auto;
    position: relative;

}
header {
    height: @header_height;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    .container-inline;

    .screenMedium({
        height: 100px;
    });
    .screenLarge({
        height: 100px;
    });

    & > *{
        padding: 0 1vw;
    }
}
.container-inline() {
    font-size: 0;
    & > *{
      display: inline-block;
      height: 100%;
      overflow: hidden;
      position: relative;
    }
}
.centred(@left: 50%){
    margin: 0;
    position: absolute;
    top: 50%;
    left: @left;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.main::before, footer::before {
    content: "";
    display: table;
    border: 2px solid @background-color;
    border-collapse: collapse;
    width: 100%;
    vertical-align: middle;
}
.logo {
    order: 1;
    width: 40%;
    font-size: 25px;
    & p{
        .centred();
        font-family: sans-serif;
        color: @theme-color;
    }
    .screenMedium({
        width: 35%;
        font-size: 35px;
    });
    .screenLarge({
        order: 1;
        width: 20%;
        font-size: 35px;
    });

}
.logo:hover {
    background-color: lightblue;
}
.search {
    width: 100%;
    order: 3;
    display: none;
    & input {
        .centred(45%);
        width: 80%;
        height: 40px;
        border: @standart-theme-border;
        background-color: @background-color;
        font-size: large;
        //border-right: none;
    }
    & > div  {
        .container-inline;
        .centred(89%);
        width:8%;
        //height:20px;
        position: absolute;
        line-height: 40px;
        font-size: medium;
        color: @main-color;
        background-color: @theme-color;
        text-align: center;

        & p {
            .centred();
            width: 100%;
            border: 1px solid @theme-color;
        }
    }
    .screenMedium({

    });
    .screenLarge({
        order: 2;
        width: 55%;
        display: inline-block ;
        & > div{
            height: 40px;
        }
    });

}

.authFiles {
    width: 45%;
    order: 2;
    float: right;
    .container{
        height: 100%;
        width: 100%;
        .container-inline;

        .avatar {

            width: 30%;
            padding-top: 1vw;
            padding-bottom: 1vw;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .info {
            width: 70%;
            div {
                font-size: small;
                .centred;
                width: 100%;

                text-align: center;
                line-height: 200%;
            }
        }
    }
    .screenSmallest({
        width: 60%;
    });

    .screenMedium({
        width: 35%;
        & .container .info div {
            font-size: medium;
        }

    });
    .screenLarge({
        order: 3;
        width: 25%;
        & .container .info div {
            font-size: medium;
        }
    });

}

footer {

    width: 100%;
    overflow:hidden;

    //height: 142px;

}
.main {
    max-width: 1350px;

    min-height: 90vh;
    margin-bottom: -142px;
    & * {
       font-size: medium;
    }
    float: left;
    font-size: 0;
    width: 100%;
    .screenMedium({
        top: 100px;
    });
    .screenLarge({
        top: 100px;
    });

}
.content {

    width: 100%;
    display: inline-block;
    overflow: hidden;
    height: 100%;
    .screenLarge_body({
        width: 80%;
        min-height: 75vh;
        border-right: 4px solid #f6f5f3;
    });
}
aside {
    vertical-align: top;
    width: 100%;
    display: inline-block;
    height: 100%;

    .screenMedium({
        //border-left: 4px solid #f6f5f3;
    });
    .screenLarge_body({
        width: 20%;

    });
}

.askBtn {
    width: 15%;

    & div {
        .centred;
        height: 40px;
        width: 80%;
        color: @main-color;
        background-color: @theme-color;
        & p {
            .centred;
        }
    }

}
.main:after {
  content: "";
  display: block;
}
.footer, .main:after {
  height: 142px;
}
.ask {
    width: 80%;
    color: @main-color;
    background-color: @theme-color;
    height: 40px;
    margin: 30px auto;
    display: list-item;
    border: none;
}
.tags {
    display: none ;
    text-align: center;
    .screenMedium({
        display: none;
        & span {
            margin: 10px;
            color: cornflowerblue;
        }
    });
    .screenLarge_body({
        display: none;
        & a {
            margin: 10px;
            color: cornflowerblue;
            text-decoration: none;
        }
        & a:hover{
            text-decoration: underline;
        }
    });
    .screenLarge({
        display: inline-block;
        & a {
            margin: 10px;
            color: cornflowerblue;
            text-decoration: none;
        }
        & a:hover{
            text-decoration: underline;
        }
    });

}
