.outer {
    width: 100%;
    height: fit-content;
    text-align: center;
    padding-top: 60px;
}
.login-form {
    display: inline-block;
    width: 90%;
    background-color: cornflowerblue;
    text-align: center;
    padding-bottom: 20px;
}
form {
    width: fit-content;
    display: inline-block;
}
form input {
    width: 100%;
}
form, table {
    width: 90%;
}
textarea {
    width: 100%;

}
#id_text {
        font-size: large;
}
