.outer {
    width: 100%;
    height: fit-content;
    text-align: center;
    padding-top: 60px;
}
.login-form {
    display: inline-block;
    width: 90%;
    background-color: cornflowerblue;
    text-align: center;
    padding-bottom: 20px;
}
.login-form > p {
    color: white;
    font-size: large;
}
label{
    display: block;
}
th {
    display: none;
}
table {
    display: inline-block;
    width: 90%;
    overflow: hidden;
}
td {
    height: 30px;
    margin-top: 3vh;
    width: 100%;
    display: inline-block;
}
tr, tbody, td {
    width: 100%;
    display: inline-block;
}
textarea {
    width: 100%;
    font-size: large;
}
@media screen and (min-width: 700px) {
    .login-form {
        width: 60%;
    }
    table {
        width: 70%
    }
    td {
        height: 40px;
        margin-top: 5vh;
    }
    td input {
        width: 100%;
        height: 40px;
    }
}
