.container {
    width: 100%;
    height: 100%;
    float: left;
}
.featured {
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: top;
    min-width: 440px;
}
.featured > div> p, .lastAdded > div> p {
    font-size: x-large;
    color: cornflowerblue;
}
.lastAdded {
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: top;
    min-width: 430px;
}
.title {
    width: 100%;
    height: 50px;
    font-size: xx-large;
    overflow: hidden;
}
.centred {
    text-align: center;
}
li > a, li >  span {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-decoration: none;
}
.current_title {
    color: cornflowerblue;
    font-size: x-large;
}
.pagination li {
    color: black;
    float: left;
    width: 40px;
    height: 40px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    list-style-type: none;
}
.pagination li.active {
    background-color: cornflowerblue;
    color: white;
    border: 1px solid #ddd;
}

.pagination li:hover:not(.active) {background-color: #ddd;}

.inner {
    display: inline-block;
}
.outer {
    text-align: center;
    position: relative;
}

@media screen and (min-width: 950px) {
    .featured {
        width: 49%;
    }
    .lastAdded {
        width: 50%;
    }
}
