/*!*.internal {*!*/
    /*!*width: 100%;*!*/
    /*!*height: fit-content;*!*/
    /*!*!*background-color: violet;*!*!*/
    /*!*float:left;*!*/
    /*!*border: 1px solid blue;*!*/
/*!*}*!*/
/*!*.internal > div {*!*/
    /*!*display: inline-block;*!*/
    /*!*overflow: hidden;*!*/
/*!*}*!*/
/*!*!*.left {*!*!*/
    /*!*width: 24%;*!*/
    /*!*!*border: 1px solid violet;*!*!*/
/*!*}*!*/
/*!*.right {*!*/
    /*!*width: 75%;*!*/
    /*!*!*border: 1px solid blue;*!*!*/
    /*!*vertical-align: top;*!*/
/*!*}*!*/
/*!*.photo {*!*/
    /*!*width: 100%;*!*/
    /*!*overflow:hidden;*!*/
    /*!*text-align: center;*!*/
    /*!*!*height: fit-content;*!*!*/
/*!*}*!*/

/*!*.photo img {*!*/
    /*!*width: 60%;*!*/
    /*!*overflow:hidden;*!*/
    /*!*object-fit: cover;*!*/

/*!*}*!*/
/*.rating {*/
    /*min-height: 100px;*/
    /*text-align: center;*/
/*}*/
/*.rating > div {*/
    /*display: inline-block;*/
    /*width: 60%;*/
    /*height: 50%;*/
    /*border: 1px solid blue;*/
    /*margin-top: 10%;*/
    /*overflow: hidden;*/

/*}*/
/*!*.mark {*!*/
    /*!*width: 60%;*!*/
    /*!*height: 100%;*!*/
    /*!*border-right: 1px solid blue;*!*/
    /*!*display: inline-block;*!*/
    /*!*float: left;*!*/
/*!*}*!*/
/*!*.scale {*!*/
    /*!*width: 40%;*!*/
    /*!*height: 100%;*!*/
    /*!*display: inline-block;*!*/
/*!*}*!*/
/*!*.body {*!*/
    /*!*font-size: xx-large;*!*/
    /*!*min-height: 150px;*!*/
/*!*}*!*/
/*!*.tags {*!*/
    /*!*min-height: 100px;*!*/
/*!*}*!*/
/*!*.body > .title {*!*/
    /*!*margin: 0;*!*/
    /*!*font-size: xx-large;*!*/
/*!*}*!*/
/*!*.body > .text {*!*/
    /*!*font-size: x-large;*!*/
    /*!*margin: 0;*!*/
/*!*}*!*/
/*.answers-display {*/
    /*display: inline-block;*/
    /*width: 96%;*/
    /*float: right;*/
    /*margin: 1% 2%;*/
/*}*/
/*.answer {*/
    /*width: 80%;*/
    /*float: right;*/
    /*height: fit-content;*/
    /*min-height: 150px;*/
    /*border: 1px solid green;*/
/*}*/
/*.answer > div {*/
    /*display: inline-block;*/
/*}*/

/*.answer > .right >p {*/
    /*font-size: large;*/
/*}*/
/*.input_answer {*/
    /*display: inline-block;*/
    /*width: 90%;*/
    /*height: 150px;*/

/*}*/
/*.input_answer > textarea {*/
    /*width: 70%;*/
    /*height: 100%;*/
    /*border: 1px solid blue;*/
/*}*/
/*.textInput{*/
    /*width: 300px;*/
    /*height: 300px;*/
    /*background-color: green;*/
/*}*/
/*.wrapper {*/
    /*height: auto !important;*/
/*}*/
.answers-display {
    width: 80%;
    float: right;
}
.input_answer {
    width: 80%;
    float: right;
}
label {
    display: none;
}
#id_text {
    width: 96%;
    margin: 1% 2%;
    height: 100px;
    font-size: large;
}
form > button {
    width: 150px;
    height: 40px;
    background-color: cornflowerblue;
    border: none;
    margin: 1% 2%;
}
.answers-display .photo {
    height: 100% !important;
}
.answers-display .body {
    padding-top: 5% !important;
    font-size: large !important;
    height: 100% !important;
}
