.wrapper {
    width: 100%;
    height: 200px;
}
.item {
    width: 96%;
    height: 96%;
    border: 1px solid cornflowerblue;
    margin: 2% 2% 2% 2%;
    overflow: hidden;
    float: left;
}
.item > div {
    overflow: hidden;
    display: inline-block;
}
.photo {
    text-align: center;
    height: 65%;
    width: 24%;

}
.rating {
    height: 35%;
    width: 24%;
    text-align: center;
}
img {
    width: 80%;
    height: 90%;
    object-fit: contain;
    margin: auto;
    padding-top: 5%;
}
.rating > div {
    display: inline-block;
    width: 70%;
    height: 50%;
    border: 1px solid blue;
    margin-top: 10%;
    overflow: hidden;

}
.mark > #like_count{
    margin: auto;
}
.mark {
    width: 50%;
    height: 100%;
    border-right: 1px solid blue;
    display: inline-block;
    float: left;
}
.scale {
    width: 50%;
    height: 100%;
    display: inline-block;
}
.body{
    width: 75%;
    height: 65%;
    padding-top: 1%;
}
.links{
    width: 75%;
    height: 35%;
}
.heading {
    width: 100%;
    height: 33%;
    line-height: 33%;
    overflow: hidden;
}
.heading > p > strong{
    font-size:large;
}
.text {
    width: 100%;
    height: 67%;
    margin-top: 1%;
    text-align: justify;
}
.answers {
    width: fit-content;
    height: 100%;
    overflow: hidden;
    display: table-cell;
}
.tags_inline {
    display: table-cell;
    width: fit-content;
    padding-left: 20px;
}
.links > .tags_inline {
    display: table-cell;
    width: fit-content;
    padding-left: 20px;
}
.tags_inline a {
    text-decoration: none;
}
.tags_inline a:hover {
    text-decoration: underline;
}
