{% extends "index.html" %}

{% block extra_head %}
    {% load staticfiles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/ask_page.css' %}">
{% endblock %}

{% block title %}Ask question{% endblock %}

{% block main%}
    <div class="outer">
        <div class="login-form">
                <h1>ASK</h1>

                 <form method="post" autocomplete="off">
                     {% csrf_token %}
                     <table>
                        {{ form.as_table }}
                         <tr>
                            <td class="input-wrapper"><input type="submit" name="submit" value="ASk!" /></td>
                        </tr>
                     </table>
                 </form>
        </div>
    </div>
{% endblock%}
