{% extends "index.html" %}

{% block extra_head %}
    {% load staticfiles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block title %}My ASKER{% endblock %}

{% block main %}
    <div class="container">
        <div class="featured">
            <div class="title centred">
                <p class="current_title">
                    HOT QUESTIONS
                </p>
            </div>
            {% for question in questions_featured %}
                {% include "questions/question_view_template.html" %}
            {% endfor %}

            {% if questions_featured.has_other_pages %}
            <div class="outer">
                <div class="inner">
                    <ul class="pagination">
                        {% if questions_featured.has_previous %}
                            <li><a href="?page_featured={{ questions_featured.previous_page_number }}&page_last={{ questions_last.number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}

                        {% for i in page_range_featured %}
                            {% if questions_featured.number == i %}
                                <li class="active"><span>{{ i }}</span></li>
                            {% else %}
                                <li><a href="?page_featured={{ i }}&page_last={{ questions_last.number }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if questions_featured.has_next %}
                            <li><a href="?page_featured={{ questions_featured.next_page_number }}&page_last={{ questions_last.number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="lastAdded">
            <div class="title centred">
                <p class="current_title">
                    LAST ADDED QUESTIONS
                </p>
            </div>
            {% for question in questions_last %}
                {% include "questions/question_view_template.html" %}
            {% endfor %}

            {% if questions_last.has_other_pages %}
            <div class="outer">
                <div class="inner">
                    <ul class="pagination">
                        {% if questions_last.has_previous %}
                            <li><a href="?page_featured={{ questions_featured.number }}&page_last={{ questions_last.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}

                        {% for i in page_range_last %}
                            {% if questions_last.number == i %}
                                <li class="active"><span>{{ i }}</span></li>
                            {% else %}
                                <li><a href="?page_featured={{ questions_featured.number }}&page_last={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if questions_last.has_next %}
                            <li><a href="?page_featured={{ questions_featured.number }}&page_last={{ questions_last.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block js_block %}

{% endblock %}
