<div class="wrapper">
    <div class="item">
        <div class="photo">
            <image src="{{ MEDIA_URL }}{{ question.author.avatar.url }}"/>
        </div>

        <div class="body">
            <div class="heading">
                {%if question.title|length > 40 %}
                    <p><strong>{{question.title | slice:":40"|add:'...'}}</strong></p>
                {%else%}
                    <p><strong>{{question.title}}</strong></p>
                {%endif%}
            </div>
            <div class="text">
                {%if question.text|length > 100 %}
                    {{question.text| slice:":140"|add:'...'}}
                {%else%}
                    {{question.text}}
                {%endif%}
            </div>
        </div>

        <div class="rating">
            <div>
                <div class="mark">
                    <p id="like_count{{question.id}}">{{question.total_likes}}</p>
                </div>
                {% if user.is_authenticated %}
                <div class="scale">
                   <a class="like" id="{{question.id}}">Like</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="links">
            <div class="answers">

                <p><a href="{% url 'question_pathway' id=question.id %}">answers({{question.answers}})</a></p>
            </div>
            <div class="tags_inline">
                {%if question.tags.all%}
                <p>Tags: {%for tag in question.tags.all|slice:":3" %}<a href="{% url 'tag_results' tag.name %}"> {{tag.name}}</a>{% endfor%}</p>

                {% endif %}
            </div>
        </div>
    </div>
</div>
