{% extends "index.html" %}

{% block extra_head %}
    {% load staticfiles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/question_comments.css' %}">

{% endblock %}

{% block title %}View question{% endblock %}

{% block main %}
                {% include "questions/question_view_template.html" %}
    <div class="answers-display">
        {% for answer in answers%}
            <div class="wrapper">
                <div class="item">
                    <div class="photo">
                        <image src="{{ MEDIA_URL }}{{ answer.author.avatar.url }}"/>
                    </div>

                    <div class="body">
                        {{answer.text}}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="input_answer">
        {%if user.is_authenticated%}
            <form method="post" id="post-form" action="">
                {% csrf_token %}
                {{form}}
                <button type="submit">SEND!</button>
            </form>
        {%else%}
            <button type="submit">LOG IN!</button>
            <button type="submit">REGISTER!</button>
        {%endif%}
    </div>

{% endblock %}

{% block js_block%}
<script>
    $('#post-form').on('submit', function(event){
        event.preventDefault();
        create_post();
    });

    function create_post() {
        $.ajax({
            url : '{% url "add_comment" 0 %}'.replace('0', '{{ question.id }}'),
            type : "POST", // http method
            data : {
                the_post : $('#post-text').val(),
                sended : $('#post-sended').val()
            },
            success : function(json) {
                $('#post-text').val('');
                for (var i = 0; i < json.answers.length; i++) {
                    $('.answers-display').append('<div class="wrapper">' +
                        '<div class="item">' +
                        '<div class="photo">' +
                        '<image src="{{ MEDIA_URL }} 0"/>'.replace('0', json.answers[i]["author"]) +
                        '</div>' +
                        '<div class="body">' +
                        json.answers[i]['text'] +
                        '</div>' +
                        '</div>' +
                        '</div>');
                }
                $('#post-sended').val(json['sended']);
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    }

    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
{% endblock %}

