{% extends "index.html" %}

{% block extra_head %}
    {% load staticfiles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block title %}Search results{% endblock %}

{% block main %}
    <div class="container">
        <div class="featured" style="width: 100%;">
            <div class="title centred">
                <p class="current_title">
                    Search result
                </p>
            </div>
            {% for question in questions %}
                {% include "questions/question_view_template.html" %}
            {% endfor %}

            {% if questions.has_other_pages %}
            <div class="outer">
                <div class="inner">
                    <ul class="pagination">
                        {% if questions.has_previous %}
                            <li><a href="?page={{ questions.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}

                        {% for i in page_range %}
                            {% if questions.number == i %}
                                <li class="active"><span>{{ i }}</span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if questions.has_next %}
                            <li><a href="?page={{ questions.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
