{% extends "index.html" %}

{% block extra_head %}
    {% load staticfiles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms_format.css' %}">

{% endblock %}

{% block title %}Settings{% endblock %}

{% block main%}
    <div class="outer">
        <div class="login-form">
            <p>SETTINGS</p>
                <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                 <table>
                    {{ form.as_table }}
                     <tr>
                        <td><input type="submit" name="submit" value="CHANGE!" /></td>
                    </tr>
                 </table>
             </form>
        </div>
    </div>

{% endblock%}
