{% extends "index.html" %}

{% block extra_head %}
    {% load staticfiles %}
    {% load static %}

    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms_format.css' %}">

{% endblock %}

{% block title %}Registration{% endblock %}

{% block main%}
    <div class="outer">
        <div class="login-form">
            <p>REGISTRATION</p>

             <form method="post" autocomplete="off">
                 {% csrf_token %}
                 <table>
                    {{ form.as_table }}
                     <tr>
                        <td><input type="submit" name="submit" value="REGISTER!" /></td>
                    </tr>
                 </table>
             </form>
        </div>
    </div>
{% endblock%}
