{% extends "index.html" %}

{% block extra_head %}
    {% load staticfiles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms_format.css' %}">

{% endblock %}

{% block title %}LOGIN{% endblock %}

{% block main%}
    <div class="outer">
        <div class="login-form">
            <p>LOGIN</p>
                {% if next %}
                <form action="?next={{next}}" method="post" >
                {%else%}
                <form action="" method="post" >
                {% endif %}
                {% csrf_token %}
                 <table>
                    {{ form.as_table }}
                     <tr>
                        <td><input type="submit" name="submit" value="LOGIN" /></td>
                    </tr>
                 </table>
             </form>
        </div>
    </div>

{% endblock%}
