<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load static %}
    {% load compile_static %}
    {% load compress %}
    {% load custom_rand_tag %}
    {% block extra_head %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My ASKER{% endblock %} </title>
    {% compress css %}
    <link rel="stylesheet" type="text/less" href="{% static 'less/main.less' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/question_view_template.css' %}">
    {% endcompress %}

</head>
<body>
    <header>
        <div class="logo" onclick="location.href='{% url 'index' %}'">
            <p>
                <b>MyASKER</b>
            </p>
        </div>

        <div class="search">
            <input  type="text" id="inputForSearch"/>
            <div onclick="gotoSearch()">
                <p>OK</p>
            </div>
        </div>
        <div class="authFiles">
            <div class="container">
                {% if not user.is_authenticated %}
                    <div class="info">
                        <div>
                            <span><a href="{% url 'signin'%}">login</a></span>
                            <span><a  href="{% url 'signup'%}">register</a></span>
                        </div>
                    </div>
                {%else%}
                    <div class="avatar">
                        <img src="{{ MEDIA_URL }}{{ user.avatar.url }}">
                    </div>
                    <div class="info">
                        <div>
                            <span>{{user}}</span><br>
                            <span ><a href="{% url 'settings'%}">settings</a></span>
                            <span><a href="{% url 'logout' %}">logout</a></span>
                        </div>
                    </div>
                {%endif%}
            </div>
        </div>
    </header>
    <div class="main">
        <div class="content">
            {% block main %}{% endblock %}
        </div>
        <aside>
            <button class="ask" onclick="location.href='{% url 'ask' %}'">
                ASK QUESTION!
            </button>
            <div class="tags">
                {% for tag in tags %}
                    <a style="font-size:{% random_int 20 30 %}px" href="{% url 'tag_results' tag.name%}">{{tag.name}}</a>
                {% endfor %}
            </div>
        </aside>
    </div>
    <footer>

    </footer>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script>

    function gotoSearch() {
        var url = "{% url 'search_results' 123%}";
        var search_pattern  = document.getElementById("inputForSearch").value;
        document.location.href = url.replace('123', search_pattern);
    }
</script>
{% block js_block %}{% endblock %}
<script>
$(document).ready(function() {
    $('a.like').click(function(event) {
        console.log(event.target.id);
        $.ajax({
            type:"GET",
            url: '{% url "like-toggle" 0 %}'.replace('0', event.target.id),
            success: function(data){
                $( '#like_count'+event.target.id ).text(data.like);
            }
         })
    });
});
</script>
</body>
</html>
